// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.applications {
	table {
		border-collapse: collapse;
		
		tr td{
			padding: 5px;
			vertical-align: top;
		}
		
		.id_and_header {
				//font-weight: bold;
				
				dt {
					font-weight: bold;
				}
					
				dd {
					margin: 0;
				}
		}
		
		thead {
			color: white;
			background: #6b8fb2;;
		}
		
	}
	
	.table_row_even {
		background: #D6EBFF
	}
	
	.table_row_odd {
		background: #ADD6FF
	}
	
	.field {
		color: blue;
			
		textarea{
			color: orange;
		}

		input{
			color: green;
		}
		
		
	}
	
	div.field {
		width: 250px;
	}

	#projecttitle {
		width: 45%;
		float: left;
	}
	
	#location {
		width: 45%;
		//background: red;
		float: left;
	}
	
	#estimatedcost{
		//margin-left: 10%;
		
	}	

	div#titlelocation {
		//width: 1000px;
	}
}